
  
  body {
    font-family: sans-serif;
    color: black;
  }
  
  /* Styling for the content */
  .main-content {
    max-width: 800px;
    margin: 20px auto;
    padding: 25px;
    border: 2px solid #8f5555;
    background-color: #e9e6e6f4;
    border-radius: 8px;
    margin-bottom: 20px
  }

  /* Image styling */
  #image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

h2 {
    text-align: center !important;
} 
    /* Link styling */
a {
    color: #c66b1b;
    text-decoration: none;
}
      
a:hover {
    color: #332405;
    text-decoration: black;
}
  /* Recipe title styling */
#recipe-title {
    font-family: sans-serif;
    font-size: 2em;
    color: #48240a;
    margin-bottom: 10px;
    text-align: center;
}
  
  /* Ingredients styling */
.ingredients, .current-recipes, .add-recipe {
    font-family: serif;
    font-size: 1.1em;
    color: #4a4a4a;
    margin-bottom: 25px;
}
  
.ingredients, .current-recipes ul {
    list-style-type: circle;
    margin-left: 20%;
    margin-right: 20%
  }
  
  /* Steps styling */
.steps {
    font-family: Tahoma, 'Times New Roman', Times, serif;
    font-size: 1em;
    color: #483939;
    margin-bottom: 10px;
    line-height: 1.2em;
  }
  
.steps ol {
    margin-left: 15%;
    margin-right: 15%
  }
  
  /* Header styling */
  header {
    text-align: center;
  }
  
  /* Footer styling */
  footer {
    background-color: #a9a4a3;
    padding: 15px 0;
    text-align: center;
  }

  /* Question 2 style additions */
  /* Button class styling */
  .button {
    display: inline-block;
    background: rgb(22, 107, 177);
    color: #fff;
    padding: 10px 10px;
    font-size: 1.2em;
    text-align: center;
    text-decoration: none;
    border-radius: 10px;
    margin-left: 35%;
    margin-right: 35%;
    width: 30%;
    margin-bottom: 20px;
  }

  .button:hover {
    background-color: #6dd9fa;
    color: #fff;
  }

  /* Text input wrapper div styling */
  .text-input
{
    display: block;
	border:1px solid #e0dcdc;
	padding: 5px;

}

/* Input, textarea styling */
  input, textarea {
    width: 100%; 
    margin: 0; 
    padding: 0; 
    border-width: 0;   
  font-size: 1em;
}

textarea {
  resize: vertical;
}

